@font-face {
    font-family: 'BatonTurbo';
    src: url('./fonts/Baton-Turbo/BatonTurbo-Regular.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Если есть жирный */
@font-face {
    font-family: 'BatonTurbo';
    src: url('./fonts/Baton-Turbo/BatonTurbo-Bold.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Если есть курсив */
/* @font-face {
    font-family: 'НазваниеШрифта';
    src: url() format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
} */