body {
  /* Fonts */
  --font-family-primary: 'BatonTurbo', sans-serif;

  /* Colors base */
  --color-white-base: 255, 255, 255;
  --color-gray-light-base: 238, 238, 238;
  --color-orange-base: 255, 98, 65;
  --color-black-base: 27, 32, 30;
  --color-gray-base: 229, 229, 229;

  /* Colors */
  --color-white: rgb(var(--color-white-base));
  --color-gray-light: rgb(var(--color-gray-light-base));
  --color-gray:rgb(var(--color-gray-base));

  --color-black: rgb(var(--color-black-base));
  --color-bldck-10: rgb(var(--color-black-base), 10%);
  --color-black-25: rgb(var(--color-black-base), 25%);
  --color-black-70: rgb(var(--color-black-base), 70%);

  --color-orange: rgb(var(--color-orange-base));
  --color-orange-12: rgb(var(--color-orange-base), 12%);
}